.logo {
    background-image: url(../IP3/assets/backgrounds/h_img.jpg);
    background-size: cover;
    height: 100%;
    color: white;
}
.services {
    background-image: url(../IP3/assets/backgrounds/s_image.jpg);
    background-size: cover;
    height: 100%;
    color: white;
}
.flexbox {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.imgz {
    flex-basis: 20%;
}
.contacts {
    background-image: url(../IP3/assets/backgrounds/c_image.jpg);
    background-size: cover;
    height: 100%;
}
#name {
    background-color: transparent;
}
#email {
    background-color: transparent;
}
#message {
    background-color: transparent;
}
.socials {
    display: flex;
    flex-direction: row;
}

